body {
margin: 8px;
display: block;
}

#mainHeadings {
  color: red
}

.funParagraph {
  color: green;
}

nav ul {
  text-align: center;
  padding: 0;
}
nav ul li {
  display: inline-block;
  margin-right: 6px;
}

#AmsterdamCaption {
  font-size: 12px;
  margin-left: 500px
}